In [ ]:
#Data From: https://www.ssa.gov/oact/babynames/limits.html

# Methodology:
# I read in the 2007 and 2020 SSA baby name datasets and ranked all names by birth count within each sex for 2007.
# Then, I merged the two datasets and filtered for names that were highly ranked in 2007 but had dropped out of the top 100 by 2020.
# I sorted these dropped names by their 2007 rank and selected the top 10 male and top 10 female names that saw significant decline.

In [67]:
import pandas as pd

In [68]:
df_2007 = pd.read_csv("yob2007.txt", names=["name", "sex", "count"])
df_2020 = pd.read_csv("yob2020.txt", names=["name", "sex", "count"])

In [69]:
df_2007["rank_2007"] = df_2007.groupby("sex")["count"].rank(ascending=False, method="first")
df_2020["rank_2020"] = df_2020.groupby("sex")["count"].rank(ascending=False, method="first")

In [70]:
merged = pd.merge(
    df_2007,
    df_2020[['name', 'sex', 'rank_2020']],
    on=['name','sex'],
    how='left'
)

In [71]:
male_names = merged[merged["sex"] == "M"]
female_names = merged[merged["sex"] == "F"]

In [76]:
male = merged[merged["sex"] == "M"]
top_male_dropped = male[
    (male["rank_2020"].isna()) | (male["rank_2020"] > 100)
    ].sort_values("rank_2007").head(10)

In [77]:
female = merged[merged["sex"] == "F"]
top_female_dropped = female[
    (female["rank_2020"].isna()) | (female["rank_2020"] > 100)
    ].sort_values("rank_2007").head(10)

In [74]:
print("Top 10 male names from 2007 that dropped out of top 100 in 2020:")
print(top_male_dropped[["name", "rank_2007", "rank_2020"]])

Top 10 male names from 2007 that dropped out of top 100 in 2020:
          name  rank_2007  rank_2020
20602    Tyler       21.0      130.0
20612  Brandon       31.0      165.0
20613    Gavin       32.0      142.0
20620    Kevin       39.0      157.0
20621     Evan       40.0      105.0
20623  Zachary       42.0      135.0
20626   Justin       45.0      166.0
20635    Aidan       54.0      261.0
20639    Diego       58.0      126.0
20640    Jason       59.0      119.0

In [75]:
print("\nTop 10 female names from 2007 that dropped out of top 100 in 2020:")
print(top_female_dropped[["name", "rank_2007", "rank_2020"]])

Top 10 female names from 2007 that dropped out of top 100 in 2020:
       name  rank_2007  rank_2020
12   Ashley       13.0      153.0
13   Alyssa       14.0      199.0
18   Alexis       19.0      309.0
21  Brianna       22.0      145.0
23   Taylor       24.0      162.0
25    Kayla       26.0      216.0
27   Lauren       28.0      232.0
31  Jasmine       32.0      141.0
33    Julia       34.0      108.0
34   Kaylee       35.0      117.0